In [15]:
import pandas as pd

In [37]:
pyheros_path = "purchase_data.csv"

pyheros_df = pd.read_csv(pyheros_path)
pyheros_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [115]:
#Player Count 

PlayerCount = len(pyheros_df["SN"].unique()) 
 

#Purchasing Analysis (Total) 

UniqueItems = len(pyheros_df["Item Name"].unique()) 
Totalpurchases = len(pyheros_df["Purchase ID"])
AveragePurPrice = pyheros_df["Price"].sum() / Totalpurchases 
TotalRev = pyheros_df["Price"].sum() 

#Purchasing Analysis (Gender) 
gender = pyheros_df.groupby("Gender")
totalgender = gender.nunique()["SN"]
percentofplayers = (totalgender / PlayerCount) * 100

#Purchasing Analysis (Gender)

In [97]:
UniqueItems

179

In [98]:
TotalRev

2379.77

In [102]:
Males

652

In [93]:
PlayerCount

3

In [116]:
percentofplayers

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64