In [15]:
import pandas as pd

In [37]:
pyheros_path = "purchase_data.csv"

pyheros_df = pd.read_csv(pyheros_path)
pyheros_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [212]:
#Player Count 

PlayerCount = len(pyheros_df["SN"].unique()) 
 

#Purchasing Analysis (Total) 

UniqueItems = len(pyheros_df["Item Name"].unique()) 
Totalpurchases = len(pyheros_df["Purchase ID"])
AveragePurPrice = pyheros_df["Price"].sum() / Totalpurchases 
TotalRev = pyheros_df["Price"].sum() 

#Purchasing Analysis (Gender) 
gender = pyheros_df.groupby("Gender")
totalgender = gender.nunique()["SN"]
percentofplayers = (totalgender / PlayerCount) * 100

#Purchasing Analysis (Gender)  
Purchasecount = gender["Purchase ID"].nunique()
totalspending = gender["Price"].sum()
averagespendinggen = totalspending / totalgender 
averagespending = totalspending / Purchasecount

#Age Demographics 
bins = [0,9,14,19,24,29,34,39,100]
age = ['<10','10-14','15-19','20-24',"25-29","30-34","35-39","40+"]
pyheros_df["age"] = pd.cut(pyheros_df["Age"],bins,labels = age)
demographic = pyheros_df.groupby(pyheros_df["age"])
totalcount = demographic.nunique()["SN"] 
percent = (totalcount/ PlayerCount) * 100

In [200]:
UniqueItems

179

In [201]:
TotalRev

2379.77

In [202]:
Males

652

In [203]:
PlayerCount

576

In [204]:
percentofplayers

Gender
Female                   14.062500
Male                     84.027778
Other / Non-Disclosed     1.909722
Name: SN, dtype: float64

In [205]:
averagespending

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [206]:
Purchasecount

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [207]:
averagespending

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [208]:
demographic

In [213]:
percent

age
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [210]:
gender

In [211]:
totalcount

age
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64